* {
  box-sizing: border-box;
  font-size: calc(16px + 0.390625vw);
}

body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgba(25,42,50,255);
}

.game{
  margin-left: 35%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.status{
  font-size: 50px;
  color: rgba(168,190,201,255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.square {
  background:rgba(31,53,64,255) ;
  font-size: 60px;
  font-weight: bold;
  height: 150px;
  width: 150px;
  border-radius: 20%;
  border-color: rgba(168,190,201,255);
  column-gap: 1%;
}

.board-row{
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}

.game {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 50%;
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 30%;
}

li{
  list-style-type: none;
  margin: 10%;
}

.button{
  border-radius: 10%;
  background-color: rgba(168,190,201,255);
  font-size: 70%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  color:rgba(25,42,50,255)
;
}

ol{
  margin:0%;
}


